<a [routerLink]="['/product', product.id]">
  <app-img *ngIf="product.images.length>0" [img]="product.images[0]"></app-img>
</a>
<h2>{{ product.price | currency: 'COP'}}</h2>
<p>{{ product.title }}</p>
<p>{{ product.taxes?? '' | currency: 'COP' }}</p>
<!--<p appHighlight>{{product.description}}</p>-->
<button (click)="onAddToCart()">Añadir al carrito</button>
<!-- <button (click)="viewDetails()">Ver detalles</button> -->
<a routerLink="." [queryParams]="{ product: product.id }">Ver detalles</a>
