<p>
    Nombre: {{nameField.value}}
    <input type="text" [formControl]="nameField" />
    <button (click)="getNameValue()">Obtener Valor</button>
</p>

<p>
    Correo: {{emailField.value}}
    <input type="email" [formControl]="emailField" />
</p>

<p>
    Teléfono: {{phoneField.value}}
    <input type="tel" [formControl]="phoneField" />
</p>

<p>
    Color Favorito: {{colorField.value}}
    <input type="color" [formControl]="colorField" />
</p>

<p>
    Fecha de Nacimiento: {{dateField.value}}
    <input type="date" [formControl]="dateField" />
</p>

<p>
    Categoría: {{dateField.value}}
    <select [formControl]="categoryField">
        <option value="category-1">Category 1</option> // value asigna el dato correspondiente a la opcion "categoría 1"
        <option>Category 2</option>
        <option>Category 3</option>
    </select>
</p>

<p>
    Términos y Condiciones: {{agreeField.value}}
    <input type="checkbox" [formControl]="agreeField" />
</p>

<p>
    Género: 
    <!-- {{genderField.value}} -->
    <label>
        <input name="genero" type="radio" value="hombre" [formControl]="genderField" />
        Hombre
    </label>
    <label>
        <input name="genero" type="radio" value="mujer" [formControl]="genderField" />
        Mujer
    </label>
    <label>
        <input name="genero" type="radio" value="otro" [formControl]="genderField" />
        Otro
    </label>
</p>

<p>
    Preferencias:
    <!-- {{preferField1.value}} -->
    <label>
        <input type="checkbox" value="musica" [formControl]="preferField1" />
        Música
    </label>
    <!-- {{preferField2.value}} -->
    <label>
        <input type="checkbox" value="musica" [formControl]="preferField2" />
        Pintura
    </label>
    <!-- {{preferField3.value}} -->
    <label>
        <input type="checkbox" value="musica" [formControl]="preferField3" />
        Danza
    </label>
</p>